@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  min-height: 100vh;
  background-color: #eee7e7;
  background-image: url("data:image/svg+xml,%3Csvg width='48' height='64' viewBox='0 0 48 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48 28v-4L36 12 24 24 12 12 0 24v4l4 4-4 4v4l12 12 12-12 12 12 12-12v-4l-4-4 4-4zM8 32l-6-6 10-10 10 10-6 6 6 6-10 10L2 38l6-6zm12 0l4-4 4 4-4 4-4-4zm12 0l-6-6 10-10 10 10-6 6 6 6-10 10-10-10 6-6zM0 16L10 6 4 0h4l4 4 4-4h4l-6 6 10 10L34 6l-6-6h4l4 4 4-4h4l-6 6 10 10v4L36 8 24 20 12 8 0 20v-4zm0 32l10 10-6 6h4l4-4 4 4h4l-6-6 10-10 10 10-6 6h4l4-4 4 4h4l-6-6 10-10v-4L36 56 24 44 12 56 0 44v4z' fill='%231b181e' fill-opacity='0.25' fill-rule='evenodd'/%3E%3C/svg%3E");
  color: #000;
  font-family: "Monteserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qouteContainer {
  width: auto;
  max-width: 900px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
  padding: 20px 30px;
  border-radius: 10px;
}

.qouteText {
  font-size: 2.75rem;
}

.long-qoute {
  font-size: 2rem;
}

.fa-quote-left {
  font-size: 4rem;
}

.qouteAuthor {
  margin-bottom: 15px;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
}

.buttonContainer {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
  font-size: 1.2rem;
  height: 2.5rem;
  border: none;
  color: #fff;
  background-color: #333;
  padding: 0.5rem 0.8rem;
  box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
  border-radius: 10px;
}

button:hover {
  filter: brightness(110%);
}

button:active {
  transform: translate(0, 0.3rem);
}

.twitterButton:hover {
  color: #000;
  background-color: #b6b2b2;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}

@media screen and (max-width: 1000px) {
  .qouteContainer {
    margin: auto 10px;
  }

  .qouteText {
    font-size: 2.2rem;
  }
}
